@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	max-width: 1000px;
	margin: 0px auto;
	padding: 0px 28.195px;
	font-family: 'Montserrat';
}

/*@media (min-width: 575.98px){
	.container {
	max-width: 540px;
	margin: auto;
	padding: 0;
	}
}

@media (min-width: 767.98px){
	.container {
	max-width: 720px;	
	}
}

@media (min-width: 991.98px) {
	.container {
	max-width: 960px;
	}
}

@media (min-width: 1199.98px){
	.container {
	max-width: 1140px;
	}
}*/


.header_top {
	background-color: #ffffff;
}


.nav {
	width: 943.61px;
	padding: 34px 0;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #828282;
}

.lower_menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 126px 28.195px 50px 28.195px;
}

.hr {
	border: 1px solid #828282;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.fixed {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.logo {
	font-size: 47px;
	line-height: 60px;
	font-weight: 800;
	color: #070707;
}

.language {
	display: flex;
	justify-content: flex-start;
	width: 20px;
	transform: rotate(-90deg);

}

.img_photo {
	padding-bottom: 105px;
}

.img_portfolio {
	padding: 0;
}

.back_gray {
	background: #F6F6F6;
}

.about_me {
	padding: 110px 0;
}

.indent {
	padding: 0 5px;
}

.pd_skill{
	padding: 80px 0;
}

.i_work{
	padding: 70px 0;
}

.skills {
	display: flex;
	justify-content: space-around;
}

.img_skill {
	padding: 10px 0;
}

.skill {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: stretch;
}

.star {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	width: 166px;
}

.chat {
	padding: 30px 0;
}

.button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: auto;
	padding: 13px 30px;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #ffffff;
	background-color: #070707;
	border-radius: 21px;
}

/*.button:hover {
	background-color: #575757;
}*/

.social_media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 85px 0 45px 0;
}

.img_social {
	padding: 0 30px;
}

.like {
	padding-bottom: 125px;
}



/* TEXT */

.text_gray_14px_medium {
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #828282;
}

.text_gray_14px_bold {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: #828282;
	padding: 10px 0;
}

.text_black_16px {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #070707;
}

.text_gray_16px {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #828282;
}

.text_black_18px {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	color: #070707;
}

.text_black_18px_underline {
	padding: 45px 0 100px 0;
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	color: #070707;
}

.text_black_34px {
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	line-height: 42px;
	color: #070707;
	padding: 10px 0;
}

.pd_portfolio{
	padding: 110px 0 40px 0;
}

.contacts{
	padding: 105px 0 10px 0;
}